<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
    <div id='app'>
        <!-- <input type="button" value="已有账号" @click='flag=!flag'>
        <login v-if="flag"></login>
        <regist v-if="!flag"></regist> -->


        <!-- component是vue提供的组件，这里用法类似于多态，通过id指定使用哪个子组件 -->
        <input type="button" value="没有账号" @click="componetId='login'"> // login 不加字符串不会被vue解析成变量
        <input type="button" value="已有账号" @click="componetId='regist'">
        <component :is='componetId'></component>
    </div>

    <template id="login">
        <div>
            登陆
        </div>
    </template>

    <template id="regist">
        <div>
            注册
        </div>
    </template>

    <script>
    
        Vue.component('login',{
            template:'#login'
        })

        Vue.component('regist',{
            template:'#regist'
        })

        var vm = new Vue({
            el:"#app",
            data:{
                flag:false,
                componetId:'regist'
            }

        })
    </script>

</body>
</html>
